<div class="container">
  <div class="title">Frequently Asked Questions About E-Levy</div>
  <p-accordion>
    <p-accordionTab header="WHAT IS E-LEVY?" [selected]="true">
        <p>
          The E-Levy is a Levy on all electronic transfers of money apart from those excluded by law.
        </p>
    </p-accordionTab>
    <p-accordionTab header="WHAT IS THE RATE OF THE E-LEVY?">
        <p>
          The rate is 1.5%.
        </p>
    </p-accordionTab>
    <p-accordionTab header="WHY HAS GOVERNMENT DECIDED TO LEVY ELECTRONIC TRANSFERS?">
        <ul>
          <li>To enhance domestic tax mobilisation and expand the tax base.</li>
          <li>To provide an opportunity for everyone to contribute towards national development.</li>
        </ul>
    </p-accordionTab>
    <p-accordionTab header="WHO IS RESPONSIBLE FOR CHARGING THE E-LEVY?">
      <p>E-Levy will be charged by:</p>
      <ul>
        <li>Mobile money providers like MTN Momo, Vodafone Cash, AirtelTigo Money,Zeepay, GCB G-Money, and Yup Ghana etc.</li>
        <li>Payment Service Providers (PSPs). They include eTranzact, JuniPay, Korba,Nsano etc.</li>
        <li>Banks like Consolidated Bank Ghana, GCB Bank, Agricultural Development Bank (ADB) etc.</li>
        <li>Specialised Deposit-Taking Institutions (SDIs) such as Rural and CommunityBanks, Savings and Loans Companies, Finance Houses etc.</li>
        <li>Other Financial Institutions prescribed by Regulations.</li>
      </ul>
    </p-accordionTab>
    <p-accordionTab header="WHEN WILL THE E-LEVY BE CHARGED?">
      <p>
        When a person makes a transfer, the charging entity will add the Levy to the transfer amount and charge the person’s wallet or bank account
      </p>
    </p-accordionTab>
    <p-accordionTab header="WHO WILL BE COLLECTING THE E-LEVY?">
      <p>
        The Ghana Revenue Authority (GRA) will collect and account for the Levy.
      </p>
    </p-accordionTab>
    <p-accordionTab header="WHAT TRANSFERS FALL UNDER THE E-LEVY?">
      <p>The following transfers fall under the E-Levy:</p>
      <ul>
        <li>Mobile money transfers done between wallets on the same electronic money issuer – For example, sending money from your MTN Momo wallet to another person’s MTN Momo wallet. </li>
        <li>Transfers from a wallet on one electronic money issuer to a recipient on another electronic money issuer - For example, sending money from your Vodafone Cash wallet to another person’s AirtelTigo wallet. </li>
        <li>Transfers from bank accounts to mobile money wallets: For example, Kofi transfers money from his CBG bank account to Ama’s G-Money wallet.  </li>
        <li>Transfers from mobile money wallets to bank accounts: For example, Esi transfers money from her Zeepay wallet to Yayra’s bank account.</li>
        <li>Bank transfers on an instant pay digital platform or application which originates from a bank account belonging to an individual: For example, Kwame transferring money from his ADB account using the ADB App to Akua's National Investment Bank account.</li>
      </ul>
    </p-accordionTab>
    <p-accordionTab header="WHAT TRANSFERS ARE NOT COVERED BY THE E-LEVY?">

      <ul>
        <li>Cumulative transfer of GHS 100 per day made by the same person using mobile money: Everyone will be able to send up to GHS100 a day without paying the Levy.</li>
        <li>Transfer between accounts owned by the same person: If you are sending money to your own account, you will not be charged the E-Levy provided your bank or mobile money accounts are linked with your Ghana Card PIN. For example, a transfer from Naa’s AirtelTigo wallet to her MTN wallet or from her Fidelity bank account to her Prudential bank account or from her CalBank savings account to her current or investment account will not attract the Levy because Naa has linked all accounts with her Ghana Card.</li>
        <li>Transfers for the payment of taxes, fees, and charges: Any payment of taxes, fees or charges made using the Ghana.gov platform or other designated Government of Ghana payment systems will not attract the Levy.</li>
        <li>Electronic Clearing of Cheques: Clearing of cheques by banks and Specialised Deposit-Taking Institutions such as Savings and Loans Companies, will not attract the Levy.</li>
        <li>Specified Merchant Payments: Transfers made through an electronic payment service (mobile money, bank application, FinTech platform, etc.) to a commercial establishment which is registered with the Ghana Revenue Authority for the purposes of Income Tax or Value Added Tax are excluded. </li>
        <li>Transfers among principal, agent, and master-agent accounts: To avoid charging the Levy multiple times, transfers among principal, agent, and master-agent are excluded from the Levy.</li>
      </ul>
    </p-accordionTab>
    <p-accordionTab header="ARE UTILITY AND AIRTIME PAYMENTS SUBJECT TO THE E-LEVY?">
      <p>
        No, once the payment is a specified merchant payment (refer to 8v) or one made through a government designated payment system (refer to 8iii), the transfer amount will not attract the Levy.
      </p>
    </p-accordionTab>
    <p-accordionTab header="ARE FOREIGN OR INWARD REMITTANCES SUBJECT TO THE E-LEVY?">
      <p>
        No, remittances are excluded from the Levy.
      </p>
    </p-accordionTab>
    <p-accordionTab header="WILL POINT-OF-SALE (POS) TRANSACTIONS ATTRACT THE E-LEVY?">
      <p>
        No, as long as the POS transaction is a payment to a commercial establishment registered with the GRA for income tax or VAT purposes, the Levy will not apply.
      </p>
    </p-accordionTab>
    <p-accordionTab header="WILL CASH-IN AND CASH-OUT FOR MOBILE MONEY ATTRACT THE E-LEVY?">
      <p>
        No, both Cash-in and Cash-out are not subject to the E-Levy.
      </p>
    </p-accordionTab>
    <p-accordionTab header="IF A PRIVATE SCHOOL IS PAYING ITS TEACHERS AND CASUAL WORKERS VIA MOBILE MONEY,WILL THE E-LEVY APPLY?">
      <p>
        Transfers from the school’s mobile money merchant wallet or corporate bank account to teachers and casual workers via mobile money will attract the Levy. However, the school is allowed to claim the levy as an allowable expense in its income statement.
      </p>
    </p-accordionTab>
    <p-accordionTab header="WILL MOBILE MONEY WALLET BALANCES ATTRACT THE E-LEVY?">
      <p>
        No, mobile money wallet balances will not attract the Levy. The Levy applies only when there is an applicable electronic transfer from your mobile money wallet.
      </p>
    </p-accordionTab>
    <p-accordionTab header="WILL MOBILE MONEY MERCHANT (AGENT) ACCOUNT TRANSFERS ATTRACT THE E-LEVY?">
      <p>
        No. Transfers among principals, master-agents and agents will not attract the E-Levy.
      </p>
    </p-accordionTab>
    <p-accordionTab header="IF I NEED HELP, WHO DO I CONTACT?">
      <p>
        A dedicated call centre has been set up to help individuals who may need further clarification or who might be experiencing any challenges. You can contact us on:
          <br> Toll Free: 0800-900-110
          <br> WhatsApp: 055-299-0000/020-063-1664
          <br> Email: elevyinfo@gra.gov.gh; info@gra.gov.gh; feedback@gra.gov.gh
      </p>
    </p-accordionTab>
  </p-accordion>

  <div class="source">
    Source: <a target="_blank" href="https://mofep.gov.gh/index.php/about-mof/e-levy-faq">Ministry Of Finance</a>
  </div>
</div>
