.header{
  top: 0;
  // height: 4.5rem;
  height: 3.5rem;
  line-height: 1.2;
  background: #FFC107;//1a61ac;
  display: flex;
  justify-content: space-between;
  // padding: 1rem 2rem;
  padding: 1rem;
  color: #fff;
  // font-size: 1.5rem;
  font-size: .9rem;
  font-weight: 500;
  position: sticky;
  z-index: 10000;
}

.back-btn{
  display: none;
  color: #fff;
  cursor: pointer;
}

.show-back-btn{
  display: block;
}

a{
  text-decoration: none;
}

.title a, .misc a{
  color: #fff;
}

.misc{
  display: flex;
}

.misc a{
  padding-right: .5rem;
  font-size: 1.2rem;
  line-height: 2;
}

.icon{
  cursor: pointer;
}

@media (min-width: 486px){
  .header{
    height: 4.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
  // .title{
  //   font-size: .9rem;
  //   font-weight: 600;
  // }
}

// @media (max-width: 786px){
//   .header{
//     padding: 1rem;
//   }
//   .title{
//     font-size: 1.2rem;
//     line-height: 2.2;
//   }
// }



