<div class="container">
  <div class="title">Disclaimer</div>
  <p>The service charge applied in the calculation of the final amount by this app may or may not be the same as charged by the network provider or charging entity, as the service charge is at the sole discretion of the network provider or charging entity.</p>
  <p>This app is designed to help one obtain to a certain level of precision the amount of money one has to send in order for the recipient to receive the intended amount. </p>
  <p>Also note, this app does not take into consideration the number of transactions one has made in a day.</p>

  <p class="version">Version: 0.1.3 - 2206222011</p>

  <p class="footer">Powered by <a href="https://nutonlabs.com" target="_blank">NutonLabs</a></p>
</div>
