.container{
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.form{
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
}
.final-amt{
  // font-size: 2rem;
  font-size: 1.2rem;
  color: #644d12;
  text-align: right;
  word-wrap: break-word;
  font-weight: 500;
}

.summary{
  // width: 300px;
  margin-top: 1rem;
  background: #fef0cd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #6c757d;
  // padding: 1rem;
  // font-size: .7rem;
  font-size: .6rem;
  padding: .5rem;
}

.reset-btn{
  float: right;
  background: #fff;
  border: none;
  // margin-bottom: 1rem;
  cursor: pointer;
  color: #FFC107;
  // text-decoration: underline;
  font-size: .7rem;
  // text-align: right;
  // color: #FFC107;
  // font-size: .9rem;
  // text-decoration: underline;
  // cursor: pointer;
}


:host ::ng-deep{
  .p-dropdown.p-dropdown-clearable .p-dropdown-label, .p-button {
    font-size: .9rem;
  }
}

.p-field{
  margin-top: 1rem;
  // padding-top: .5rem;
}

.c-label{
  color: #6c757d;
}



:host ::ng-deep .p-inputtext, :host ::ng-deep .p-password, :host ::ng-deep .p-button, :host ::ng-deep .p-dropdown {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

:host ::ng-deep .p-inputtext:enabled:hover, :host ::ng-deep .p-inputtext:enabled:focus, :host ::ng-deep .p-dropdown:enabled:hover, :host ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
  border-color: #FFC107;
}

:host ::ng-deep .p-inputtext:enabled:focus, :host ::ng-deep .p-dropdown:not(.p-disabled).p-focus{
  box-shadow: inset 0 0 0 1px #FFC107, inset 0 0 0 1px #FFC107, inset 0 0 0 1px #FFC107, inset 0 0 0 1px #FFC107;
}

:host ::ng-deep .p-float-label input:focus ~ label, :host ::ng-deep .p-float-label .p-inputwrapper-focus ~ label{
  color: #FFC107;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #FFC107;
  background: rgba(63, 81, 181, 0.12);
}

// :host ::ng-deep .p-dropdown:not(.p-disabled) .p-focus{
//   box-shadow: inset 0 0 0 1px #FFC107, inset 0 0 0 1px #FFC107, inset 0 0 0 1px #FFC107, inset 0 0 0 1px #FFC107;

// }

:host ::ng-deep .p-button {
  margin-top: 1rem;
  color: #644d12;
  background: #FFC107;
}

:host ::ng-deep .p-button:enabled:hover, :host ::ng-deep .p-button:enabled:focus {
  background: #b08620;
  color: #644d12;
  border-color: transparent;
}

:host ::ng-deep .p-dropdown-items-wrapper{
  max-height: fit-content !important;
}

table{
  width: 100%;
}

.title{
  text-align: center;
}

.pull-right{
  text-align: right;
}

.total{
  border-top: 1px solid #6c757d;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.total .pi{
  padding-top: .5rem;
  font-size: .7rem;
  font-weight: 600;
}

.footer{
  font-size: .7rem;
  margin-top: .7rem;
  text-align: center;
  color: #6c757d;
}

.footer a{
  color: #FFC107;
}

@media (min-width: 486px){
  .form{
    padding-top: 3rem;
    width: 300px;
  }

  .final-amt{
    font-size: 2rem;
  }
  .summary{
    padding: 1rem;
    font-size: .7rem;
  }
}

