<div class="container">
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
      <!-- <button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button> -->
      <!-- <button class="reset-btn" (click)="reset()" >Reset</button> -->
      <!-- <div  class="reset-btn">
        Reset
      </div> -->
      <div>
        <button class="reset-btn" (click)="reset()" >Reset</button>
      </div>


      <div style="margin-top: 2rem;" class="p-field p-float-label">
        <p-dropdown [options]="providerList" formControlName="senderProviderRate"  optionLabel="Name" [showClear]="true"></p-dropdown>
        <label class="c-label" for="Provider">Your Network Provider</label>
      </div>
      <div class="p-field p-float-label">
        <p-dropdown [options]="providerList" formControlName="receiverProviderRate"  optionLabel="Name" [showClear]="true"></p-dropdown>
        <label class="c-label" for="Provider">Recipient's Network Provider</label>
      </div>
      <div class="p-field p-float-label">
        <input class="c-input" type="text" formControlName="amount" pInputText />
        <label class="c-label" for="Amount">Amount</label>
      </div>
      <button styleClass="p-button-sm" pButton type="submit" label="CALCULATE"></button>

      <div class="summary">
        <div class="title">Summary</div>
        <div class="content">
          <table>
            <tr>
              <td>Initial Amount</td>
              <td class="pull-right">GHS {{InitialAmount | number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td>E-levy Charge {{elevyRateLabel}}</td>
              <td class="pull-right">GHS {{ElevyCharge | number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td>Service Charge {{serviceRateLabel}}</td>
              <td class="pull-right">GHS {{ServiceCharge | number:'1.2-2'}}</td>
            </tr>
            <!-- <tr class="total">
              <td>Total</td>
              <td class="pull-right">GHS 0.00</td>
            </tr> -->
          </table>

          <div class="total">
            <div>Total </div>
            <div class="final-amt">GHS {{FinalAmount | number:'1.2-2'}}</div>
          </div>
        </div>
      </div>
    </form>


    <p class="footer">Powered by <a href="https://nutonlabs.com" target="_blank">NutonLabs</a> | <a [routerLink]="['/disclaimer']">Disclaimer</a> </p>
</div>
